on:
  release:
    types: [published]

name: Create Release

jobs:
  release:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Build project
        run: |
          chmod +x ./gradlew
          ./gradlew build
      - name: Publish mod
        uses: Kir-Antipov/mc-publish@v2.1
        with:
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

          loader: fabric
